<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="root">
        <h2>当前的n值是:{{n}}</h2>
        <button @click="n++">点我n+1</button>
        <h3>{{name}}</h3>
        <h3 v-show="n">你好呀</h3>
        <h3 v-if="true">holle</h3>
        <template v-if="n">
            <h3>a</h3>
            <h3>b</h3>
            <h3>c</h3>

        </template>
    </div>
    <script>
        const vm = new Vue({
            el: '#root',
            data: {
                n: 0,
                name: '邓凯伦'
            },
        });
    </script>
</body>

</html>